*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 100%;
    padding: 0px 16px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.router-wrapper{
    width: calc(100% - 266px);
}